@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 20%">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">to</h1>
    <h1 class="display-4">Food 4 You !</h1>
</div>
