# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.StarterStore.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\a3908\RiderProjects\StarterStore\.idea\.idea.StarterStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
